# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
# Print and check if the key is imported successfully
print(g_key)

AIzaSyCfRhhOBQp540EKWuBh5nPkrZqN11pHcKs

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_df = pd.read_csv("../Weatherpy/output_data/cities.csv")
vacation_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ulladulla,90,AU,1579909943,94,-35.35,150.47,78.01,1.12
1,hermanus,0,ZA,1579909943,95,-34.42,19.23,68.00,10.02
2,cidreira,0,BR,1579909345,77,-30.18,-50.21,73.29,9.78
3,jos,9,NG,1579909944,17,9.92,8.90,54.46,5.26
4,hami,0,CN,1579909944,53,42.80,93.45,13.21,2.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations = vacation_df[["Lat", "Lng"]].astype(float)
# Convert humidity value to float 
humidity = vacation_df["Humidity"].astype(float)

In [4]:
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [5]:
# Pick the ideal weather condition and drop any rolls with invalid values
vacation_df = vacation_df.loc[(vacation_df['Max Temp'] >70)&(vacation_df['Max Temp']<80)&(vacation_df['Wind Speed']<10)
                             &(vacation_df['Cloudiness']==0)]   
vacation_df = vacation_df.dropna()
vacation_df = vacation_df.reset_index()
vacation_df.head()

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,2,cidreira,0,BR,1579909345,77,-30.18,-50.21,73.29,9.78
1,151,port lincoln,0,AU,1579909974,58,-34.73,135.87,70.59,6.35
2,172,sao borja,0,BR,1579909889,51,-28.66,-56.00,73.85,5.73
3,199,baracoa,0,CU,1579909523,58,20.35,-74.50,75.18,5.99
4,324,cockburn town,0,TC,1579910008,61,21.46,-71.14,76.60,9.31

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Add a column to hold the values of hotels
hotel_df=vacation_df
hotel_df.insert(10,"Hotel","")
hotel_df.insert(11,"Hotel Address","")
hotel_df = hotel_df.drop(columns='index')
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel,Hotel Address
0,cidreira,0,BR,1579909345,77,-30.18,-50.21,73.29,9.78,,
1,port lincoln,0,AU,1579909974,58,-34.73,135.87,70.59,6.35,,
2,sao borja,0,BR,1579909889,51,-28.66,-56.00,73.85,5.73,,
3,baracoa,0,CU,1579909523,58,20.35,-74.50,75.18,5.99,,
4,cockburn town,0,TC,1579910008,61,21.46,-71.14,76.60,9.31,,
5,cangucu,0,BR,1579910010,80,-31.39,-52.68,73.99,4.36,,
6,santiago del estero,0,AR,1579909996,36,-27.80,-64.26,79.99,5.57,,
7,corbelia,0,BR,1579910040,57,-24.80,-53.31,77.00,5.82,,

In [ ]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_name = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(hotel_name.url)

    # convert to json, find the key value for the result wanted
    hotel_name = hotel_name.json()
    #print(json.dumps(hotel_name, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel"] = hotel_name["results"][0]["name"]
        cities_pd.loc[index, "Hotel Address"] = hotel_name["results"][0]["vicinity"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
# Show the datafram
hotel_df

In [ ]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
hotel_df.to_csv("hotel.csv", encoding="utf-8", index=False)

In [ ]:
# Convert hotel name to list
hotel_name_new = hotel_df["Hotel"].tolist()

In [ ]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_name = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(hotel_name.url)

    # convert to json, find the key value for the result wanted
    hotel_name = hotel_name.json()
    print(json.dumps(hotel_name, indent=4, sort_keys=True))

In [ ]:
# Assign the marker layer to a variable
hotel_markers = gmaps.marker_layer(params['location'])
# Add the layer to the map
fig.add_layer(markers)
fig

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map